$include /etc/inputrc

set editing-mode vi
set show-mode-in-prompt on

$if mode=vi
    set keymap vi-command
    # command mode
    "\e[A": history-search-backward
    "\e[B": history-search-forward
    j: history-search-forward
    k: history-search-backward
    set keymap vi-insert
    # insert mode
    "\e[A": history-search-backward
    "\e[B": history-search-forward
$endif
